<div class="w3-main" style="margin-left:200px;">
            
    <div class="w3-container w3-blue">
        <h2>
        <i ng-click="openSideNav()" class="fa fa-bars w3-xlarge w3-hide-large"></i>
            {{RouteName}}
        </h2>
    </div>

    <br>

    <div class="container" ng-click="closeSideNav()">
        <div class="row">
            <div class="col-xs-12">

                <div align="center">
                    <img style="border-radius: 50%;" src="img/formal.jpg" height="175px" />
                    <h1 style="font-family: Comic Sans MS; color:#2196F3;"><b>Race won't end until I win!</b></h1>
                </div>

                <hr>

                <div class="w3-card-4" style="border-radius : 5px;">

                    <header class="w3-container w3-blue" style="border-radius : 5px 5px 0 0;">
                        <h3><b>Hi there!</b></h3>
                    </header>
                
                    <div class="w3-container">
                        <br>
                        <b style="font-size: 20px;">
                            I am 'LAKSHMI NANDA KISHORE NAIDU'. I am glad that you are here and I welcome you to browse my website.
                        </b>
                        <br><br>
                    </div>

                </div>
                <br>
                <div class="w3-card-4" style="border-radius : 5px;">

                    <header class="w3-container w3-blue" style="border-radius : 5px 5px 0 0;">
                        <h3><b>About Me</b></h3>
                    </header>
                
                    <div class="w3-container">
                        <br>
                        <b style="font-size: 20px;">I am a passionate programmer aspiring to be involved in the 'Next Big Thing' happening in the Software Industry.</b>
                        <br><br>
                    </div>

                </div>
                <br>
                <div class="w3-card-4" style="border-radius : 5px;">

                    <header class="w3-container w3-blue" style="border-radius : 5px 5px 0 0;">
                        <h3><b>Recent Education</b></h3>
                    </header>
                
                    <div class="w3-container">
                        <br>
                        <b style="font-size: 20px;">I completed my Engineering in 'Computer Science & Engineering' at 'NRI IT, Agiripalli' with an aggregate of 76.13%.</b>
                        <br><br>
                    </div>

                </div>
                <br>
                
                <div class="w3-card-4" style="border-radius : 5px;">

                    <header class="w3-container w3-blue" style="border-radius : 5px 5px 0 0;">
                        <h3><b>Hobbies</b></h3>
                    </header>
                
                    <div class="w3-container">
                        <br>
                        <b style="font-size: 20px;">• Learning latest technologies and programming languages in leisure time.</b><br><br>
                        <b style="font-size: 20px;">• Watching Japanese Dubbed Anime Series and Sci-Fi Movies scarcely.</b><br><br>
                        <b style="font-size: 20px;">• Recently started writing a Novel named <a href="https://www.wattpad.com/561892887-tomorrow-chapter-1-day-off" target="_blank">Tomorrow?!</a> in Wattpad.</b>
                        <br><br>
                    </div>

                </div>
                <br>
            </div>
        </div>
    </div>

</div>