<div class="w3-main" style="margin-left:200px;">
            
    <div class="w3-container w3-blue">
        <h2>
        <i ng-click="openSideNav()" class="fa fa-bars w3-xlarge w3-hide-large"></i>
            {{RouteName}}
        </h2>
    </div>

    <div align="center">
        <img style="background-color: black;" ng-src="img/{{ProjectName}}.png" height="auto" width="15%" />
    </div>

    <div align="center" style="margin-top: 10%;">
        <b style="text-shadow: 2px 3px grey; font-size: 300%;">Details of '{{ProjectName}}' will be updated soon! Stay Tuned<img src="img/cool.png" height="auto" width="15%">
    </div>

</div>