<ion-view hide-nav-bar="true">
  <ion-content align="center">

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header">
        <b>Soft Skills</b>
      </div>

      <ion-slide-box>

          <ion-slide class="padding" ng-repeat="loop in [0, 1]" loop="true">

            <div ng-if="loop === 0">

              <div class="card rounded card-shadow col" style="width:48%; display: inline-block;">

                <img class="item item-image" src="img/skills/leadership.png" height="auto" width="100%" />
                
                <div class="item item-divider custom-header">
                  <b>Leadership</b>
                </div>
        
              </div>
              &nbsp;
              <div class="card rounded card-shadow col" style="width:48%; display: inline-block;">

                <img class="item item-image" src="img/skills/team.png" height="auto" width="100%" />
                
                <div class="item item-divider custom-header">
                  <b>Team Player</b>
                </div>
        
              </div>

            </div>

            <div ng-if="loop === 1" class="card rounded card-shadow col" style="width:48%; display: inline-block;">

              <img class="item item-image" src="img/skills/communication.png" height="auto" width="100%" />
              
              <div class="item item-divider custom-header">
                <b>Communication</b>
              </div>
      
            </div>

          </ion-slide>

      </ion-slide-box>

    </div>


    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header">
        <b>Technical Skills</b>
      </div>

      <ion-slide-box>

          <ion-slide class="padding" ng-repeat="skill in [0, 1, 2, 3, 4, 5, 6, 7]" loop="true">

            <div class="card rounded card-shadow col" style="width:48%; display: inline-block;">

              <img class="item item-image" ng-src="img/skills/{{TechnicalSkills[2*skill].src_url}}.png" height="auto" width="100%" />
              
              <div class="item item-divider custom-header">
                <b>{{TechnicalSkills[2*skill].name}}</b>
              </div>
      
            </div>
            &nbsp;
            <div class="card rounded card-shadow col" style="width:48%; display: inline-block;">

              <img class="item item-image" ng-src="img/skills/{{TechnicalSkills[2*skill+1].src_url}}.png" height="auto" width="100%" />

              <div class="item item-divider custom-header">
                <b>{{TechnicalSkills[2*skill+1].name}}</b>
              </div>
      
            </div>

          </ion-slide>

      </ion-slide-box>

    </div>


  </ion-content>
</ion-view>
