<ion-view hide-nav-bar="true">
  <ion-content>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>First Prize in Code-A-Thon, conducted at VVIT-Guntur (September, 2016)</b>
      </div>

      <div class="item item-image">
        <img src="img/achievements/VVIT.jpg" height="auto" width="100%" />
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>My Team at Miracle Software Systems, Internship was selected as one of the Top 3 teams (June, 2017)</b>
      </div>

      <div class="item item-image">
        <img src="img/achievements/Intern.jpg" height="auto" width="100%" />
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>First Prize in 1/3 Hackathon, conducted at PB Siddhartha College of Arts & Science (December, 2017)</b>
      </div>

      <div class="item item-text-wrap">
        <b>Whoops! Image not available</b>
      </div>

    </div>

  </ion-content>
</ion-view>
