<ion-view hide-nav-bar="true">
  <ion-content>
    
    <div class="card rounded card-shadow">

      <div class="item item-image">
        <img src="img/kishore.jpg" style="height: 100%; width : 100%;">
      </div>

      <div class="item item-divider custom-header" align="center">
        <b>Lakshmi Nanda Kishore. Naidu</b>
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-divider custom-header" align="center">
        <b>About Me</b>
      </div>

      <div class="item item-body">
        <b>I am a passionate programmer aspiring to be involved in the 'Next Big Thing' happening in the Software Industry.</b>
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-divider custom-header" align="center">
        <b>Recent Education</b>
      </div>

      <div class="item item-body">
        <b>I did my Engineering in 'Computer Science & Engineering' at 'NRI IT, Agiripalli' with an aggregate of 76.61%.</b>
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-divider custom-header" align="center">
        <b>Hobbies</b>
      </div>

      <div class="item item-body">
        <b>Learning latest technologies and programming languages in leisure time.</b>
      </div>

      <div class="item item-body">
        <b>Watching Japanese Dubbed Anime Series and Sci-Fi Movies scarcely.</b>
      </div>

      <div class="item item-body">
        <b>Recently started writing a Novel named <a href="https://www.wattpad.com/561892887-tomorrow-chapter-1-day-off" target="_blank">Tomorrow?!</a> in Wattpad. </b>
      </div>

    </div>

  </ion-content>
</ion-view>