<ion-view hide-nav-bar="true">
  <ion-content>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>Internship</b>
      </div>

      <div class="item item-image">
        <img src="img/certificates/Miracle.jpg" height="auto" width="100%" />
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>Hindustan Candle Industries, appreciation certificate for developing e-bills app for their billing needs</b>
      </div>

      <div class="item item-image">
        <img src="img/certificates/HCI.jpg" height="auto" width="100%" />
      </div>

    </div>

    <div class="card rounded card-shadow">

      <div class="item item-text-wrap custom-header" align="center">
        <b>Milinda InfraCon Pvt Ltd, appreciation certificate for developing Milinda Infra & Milinda Infra Admin apps for their management needs</b>
      </div>

      <div class="item item-image">
        <img src="img/certificates/Milinda.jpg" height="auto" width="100%" />
      </div>

    </div>

  </ion-content>
</ion-view>
