<ion-tabs class="tabs-icon-top tabs-background-light tabs-color-positive">

  <!-- Education Tab -->
  <ion-tab title="Skills" icon-off="ion-thumbsup" icon-on="ion-thumbsup" href="#/tab/skills">
    <ion-nav-view name="tab-skills"></ion-nav-view>
  </ion-tab>

  <!-- Acheivements Tab -->
  <ion-tab title="Acheivements" icon-off="ion-trophy" icon-on="ion-trophy" href="#/tab/acheivements">
    <ion-nav-view name="tab-acheivements"></ion-nav-view>
  </ion-tab>

  <!-- About Me Tab -->
  <ion-tab title="About Me" icon-off="ion-android-person" icon-on="ion-android-person" href="#/tab/about-me">
    <ion-nav-view name="tab-about-me"></ion-nav-view>
  </ion-tab>

  <!-- Experience Tab -->
  <ion-tab title="Experience" icon-off="ion-ribbon-b" icon-on="ion-ribbon-b" href="#/tab/experience">
    <ion-nav-view name="tab-experience"></ion-nav-view>
  </ion-tab>

  <!-- Projects Tab -->
  <ion-tab title="Projects" icon-off="ion-android-laptop" icon-on="ion-android-laptop" href="#/tab/projects">
    <ion-nav-view name="tab-projects"></ion-nav-view>
  </ion-tab>


</ion-tabs>
